    <div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Application de gestion de projets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="accueil" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="listeDepartements" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_RESPONSABLE'])">Gestion départements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="listeEmployes" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_EMPLOYE'])">Gestion employés</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="listeProjets" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="authService.hasRole(['ROLE_RESPONSABLE','ROLE_EMPLOYE'])">Gestion projets</a>
            </li>
    
            <!-- Menu déroulant utilisateur à droite -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{authService.username | uppercase}}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item"  href="#" (click)="onLogout()">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    
    <!-- Main Content -->
    <main class="container mt-5">
      <router-outlet></router-outlet>
    </main>
    
    <!-- Footer -->
    <footer class="bg-dark text-center text-lg-start text-white mt-auto py-4">
      <div class="text-center p-3">
        © 2024 Mon Application | <a class="text-light" href="#">Politique de confidentialité</a>
      </div>
    </footer>
  </div>
  