<!--<p>listing-departements works!</p>-->
<table class="table table-striped table-bordered" *ngIf="departements.length > 0">
  <thead>
    <tr>
      <th>Nom du département</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let departement of departements | paginate: { itemsPerPage: 4, currentPage: page }">
      <td>{{ departement.nom }}</td>
    </tr>
  </tbody>
  <tfoot>
    <div style="text-align:right">
      <pagination-controls  (pageChange)="page = $event"></pagination-controls>
      </div>
  </tfoot>
</table>

<p *ngIf="!departements.length">Aucun département trouvé.</p>
